@model IEnumerable<Brand>

<div class="container card p-4">
    <h4 class="mb-3">Markalar</h4>
    <ul class="list-group ">
        @foreach (var brand in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Car" asp-action="Index" asp-route-brandId="@brand.Id" class="text-decoration-none text-primary">
                    <b>@brand.Name</b>
                </a>
            </li>
        }
    </ul>
</div>
