@model Car
<h3 class="mb-4">
    <a asp-action="Index" asp-controller="Car" asp-route-brandId="@Model.Brand.Id" style="text-decoration: none; font-weight: bold; color: #007bff;">
        @Model.Brand.Name
    </a> 
    <span style="font-weight: normal; color: #555;">/ @Model.Model</span>
</h3>
<div class="row">
    
    <div class="col-9">
        <div class="container mt-5">
            

            <div class="card mb-4">
                <img src="~/img/@Model.Image" class="card-img-top img-fluid" alt="Görsel" />
                <div class="card-body">
                    <h5 class="card-title">Üretim Yılı: @Model.Year</h5>
                    <p class="card-text">
                        <strong>Günlük Fiyatı:</strong> $@Model.PricePerDay 
                    </p>

                </div>
            </div>

            <div class="text-center">
                <a asp-controller="Car" asp-action="Index" class="btn btn-primary">Geri Dön</a>
            </div>
        </div>

    </div>
    <div class="col-3 mt-5">
        @await Component.InvokeAsync("BrandList")
        @await Component.InvokeAsync("CarByBrand", new {brandId = Model.BrandId} )
    </div>
</div>