@model Brand

@{
    ViewData["Title"] = "Markayı Güncelle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Update" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    
    <div class="form-group mb-4">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
